@import "../../../assets/css/base.scss";
$viewW : 640px;
.zmiti-index-main-ui{
  

  @include transition(.6s);
  &.hide{

  }
  
  .zmiti-index-bg{
     width: 100%;
     top: 0;     
     @include transition(.1s);
     @include transformOrigin(center center);

     @include transform(rotate(0deg));

      

      .zmiti-place-pic{
        
         left: 200px;
         top: 100px;
         z-index: 10;
         padding:10px;
         background:#fff;
         @include br(4px);
         box-sizing:border-box;

         @include transformOrigin(left bottom);
         @include pos(a);
         &:nth-of-type(3){
            @include transform(rotate(35deg));                   
         }
      }

      @for $i from 1 through 6 {
        @at-root.zmiti-place-pic:nth-of-type(#{$i}){
            $deg : ceil(random() * 45deg);
            @include transform(rotate($deg));                   
        }
       }

     .zmiti-place-intro{
      z-index: 4;
      margin-top: -20px;
      &.zmiti-place-intro1{
        margin-top: -40px;
        margin-left: 30px;
        z-index: 2;
      }


     	@include pos(a);
     	background:rgba(255,255,255,.8);
     	@include transition(1s opacity 0.4s);
     	left: 150px;
     	padding: 20px 40px 20px 20px;
     	top: 3000px;
     	@include br(10px);
     	@include transform(rotate(90deg));
     	z-index: 1000;
      span{
        @include pos(a);
        top: 100%;
        width: 10px;
        height: 40px;
        background:rgba(255,255,255,1);
        left: 20px;
        @include br(3px);
        &:last-of-type{
          left: 80px;
        }
        @include transform3d;
        &:before,&:after{
          content:'';
          @include pos(a);
          width: 30px;
          left: -10px;;
          top: 28px;
          height: 30px;
          @include br(50%);
          background:rgba(0,0,0,.2);
          @include transform(rotateX(60deg));
        }
        &:after{
         background:rgba(0,0,0,.3); 
           width: 20px;
          left: -5px;;
          top: 30px;
          height: 20px;
        }

      }
		aside{
			margin: 0 10px;
      
      &:first-of-type{
      }
      
				header{
					color:#000;
					font-size: 30px;
					@include pos(r);
					margin: 0 auto 10px;
					
				}
        .zmiti-place-text{
          max-width: 300px;
          color:#555;
          width: 0;
          height: 0;
          &.active{
            width:auto;
            height: auto;
          }          
          -webkit-transition: 3s ;
          overflow: hidden; 
          label{
            @include transition(opacity 4s);
          }
        }
			}
		}
  }
  .zmiti-info{
    @include pos(f);
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    bottom:50px;
    @include animation(info 2s infinite);
    z-index: 1000;
  }

  @-webkit-keyframes info{
    to{
      -webkit-transform:translate3d(0,-15px,0)
    }
  }

  .zmiti-loong{
  	@include pos(f);
  	top: 50%;
  	margin-top: -272px;
  	left: -80px;;
  	width: 300px;
  	@include transform(translate3d(0,-60vh,0));
  	@include transition_transform(5s linear);
  	&.active{
  		@include transform(translate3d(0,0,0));
  	}
    &.done{
     @include transform(translate3d(0,$viewW*1.5,0)); 
    }
  }

  .zmiti-footer{
    @include pos(a);
    bottom:45vh;

    text-indent: 2em;

    color:#0a6639;
    font-size: 28px;
    @include transform(translate3d(20%,0%,0) rotate(90deg));
  }
  .zmiti-copyright{
    @include pos(a);
    bottom:50vh;
    color:#fff;
    left: 0;
    font-size: 28px;
    text-align: center;
    @include transform(translate3d(-40%,30px,0) rotate(90deg)); 
  }

  .zmiti-index-logo{
  	@include pos(f);
  	right: 100px;
  	top: 50%;
  	margin-top: -376px;
  	@include transition_transform(1s);
  	&.active{
  		@include transform(translate3d(120px,-100px,0) scale(.3));
  	}
  	@include transformOrigin(top);
  }

  .zmiti-index-begin-btn{
  	 @include pos(f);
  	 z-index: 10;
  	 background: #f7941d;
  	 color:#fff;
  	 padding: 16px 50px;
  	 font-size: 30px;
  	 top: 50%;
    margin-left: 20px;
  	@include transform( translate3d($viewW/3,-50%,0) rotate(90deg));
  	@include br(6px);
  	-webkit-transition:opacity 1s 1s, -webkit-transform .2s;
  	&.active{
  		@include transform( translate3d($viewW/3,-50%,0) rotate(90deg) scale(.97));
  	}

  	opacity:0;
    z-index: -1;
  	&.show{
  		opacity:1;
  		z-index: 10;
  	}
  }

  .zmiti-index-text{
  	@include pos(f);
  	z-index: 100;
  	color:#0a6639;
  	font-size: 30px;
  	top: 50%;
  	opacity:0;
    span{
      display: inline-block;
      opacity:0;

    }

  	&.active{
  		opacity:1;
  		@include transition(1s 1s);
  	}

  	&.hide{
  		@include transform( translate3d(20%,-$viewW + 100,0) rotate(90deg) scale(.001));
  		
  		@include transition(2s .5s);

  	}

  	margin-left: 20px;
  	width: $viewW;
  	
  	@include transform( translate3d(10%,-50%,0) rotate(90deg));
  }
	.zmiti-index-container {
		@include pos(f);
		bottom:40px;
		left:40px;
		z-index:10;
		background:#fff;
		@include br(50%);
		$size:160px;
		width: $size;
		height: $size;

	}

}

@-webkit-keyframes bounceInDown{
  0%,100%,60%,75%,90%{
    @include transitionTimingFunction(cubic-bezier(0.215,.61,.355,1));
  }
  0%{
    opacity:0;
    -webkit-transform:translate3d(0,1000px,0);
  }
  60%{
    opacity:1;
    -webkit-transform:translate3d(0,25px,0);
    }
  75%{
    -webkit-transform:translate3d(0,-10px,0);
  }
  90%{-webkit-transform:translate3d(0,5px,0);
  }
  100%{
    -webkit-transform:none;
    transform:none;
    opacity:1;
    }
}

.bounceInDown{
  
  @include animation(bounceInDown 1s 3s 1 forwards);
}