@import "../../../assets/css/base.scss";

.zmiti-index-main-ui{
  

  @include transition(.6s);
  &.hide{

  }
  
  .zmiti-index-bg{
     width: 100%;
     top: 50%;
     
     border:1px solid #f00;
     img{height:100%;width:auto;@include transform(rotate(90deg));}
     @include transformOrigin(center center);

     @include transform(rotate(0deg));
  }
   
  
  
 
}